 <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <%= image_tag 'middle.jpg', size:'440x275' %>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>Middle</h3>
                </div>

                <ul class="list-group">
                  <li class="list-group-item">Class 6th</li>
                  <li class="list-group-item">Class 7th</li>
                  <li class="list-group-item">Class 8th</li>
                </ul>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <%= image_tag 'matric.jpg', size:'440x275' %>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>Matriculation</h3>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Class 9th
                      <ul class="list-group">
                          <li class="list-group-item">Bio</li>
                          <li class="list-group-item">Computer</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Class 10th
                      <ul class="list-group">
                          <li class="list-group-item">Bio</li>
                          <li class="list-group-item">Computer</li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <%= image_tag 'course-3.jpg', size:'440x275' %>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>Intermediate</h3>
                </div>

                <ul class="list-group">
                  <li class="list-group-item">Class 11th
                      <ul class="list-group">
                          <li class="list-group-item">FSc-1</li>
                          <li class="list-group-item">ICS-1</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Class 12th
                      <ul class="list-group">
                          <li class="list-group-item">FSc-2</li>
                          <li class="list-group-item">ICS-2</li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>
      </div>
    </section><!-- End Courses Section -->