 <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs mt-8">
      <div class="container">
        <h2>Classes</h2>
        <p>Our well experienced teachers will help out in smoothening the career journey of your child</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <%= image_tag 'course-1.jpg', class:"img-fluid" %>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>Middle</h3>
                </div>

                <ul class="list-group">
                  <li class="list-group-item">Class 6th</li>
                  <li class="list-group-item">Class 7th</li>
                  <li class="list-group-item">Class 8th</li>
                </ul>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <%= image_tag 'course-2.jpg', class:"img-fluid" %>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>Matriculation</h3>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Class 9th
                      <ul class="list-group">
                          <li class="list-group-item">Item 2a</li>
                          <li class="list-group-item">Item 2b</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Class 10th
                      <ul class="list-group">
                          <li class="list-group-item">Item 3a</li>
                          <li class="list-group-item">Item 3b</li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <%= image_tag 'course-3.jpg', class:"img-fluid" %>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>Intermediate</h3>
                </div>

                <ul class="list-group">
                  <li class="list-group-item">Class 11th
                      <ul class="list-group">
                          <li class="list-group-item">Item 2a</li>
                          <li class="list-group-item">Item 2b</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Class 12th
                      <ul class="list-group">
                          <li class="list-group-item">Item 3a</li>
                          <li class="list-group-item">Item 3b</li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->