<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs mt-8" data-aos="fade-in">
    <div class="container">
      <h2>Gallery</h2>
      <p>Media Library of our academy</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <div class="container">
  
  <div class="feature">
    <figure class="featured-item image-holder r-3-2 transition"></figure>
  </div>
  
  <div class="gallery-wrapper">
    <div class="gallery">
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2 active transition"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2 transition"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2 transition"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2 transition"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2"></figure>
      </div>
      <div class="item-wrapper">
        <figure class="gallery-item image-holder r-3-2"></figure>
      </div>
    </div>
  </div>
  
  <div class="controls row">
    <button class="move-btn left"><i class="bi bi-arrow-left-short"></i></button>
    <button class="move-btn right"><i class="bi bi-arrow-right-short"></i></button>
  </div>
  
</div>
</main>