<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs mt-8">
      <div class="container">
        <h2>Admission</h2>
        <p>Our well experienced teachers will guide you after in smoothening the career journey of your child </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <!-- ======= Popular Courses Section ======= -->
   	<%= render 'form' %>

  </main><!-- End #main -->